@media screen and (min-width: 1200px) {
  /* .container {
    max-width: 1136px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  } */
  .top-sellers {
    padding-bottom: 125px;
  }
  .top-sellers-title {
    margin-bottom: 50px;
  }
  .btn-sale {
    width: 162px;
    height: 50px;
  }
  /* .section-list-img-mobile,
  .section-list-img-tablet {
    display: none;
  } */
  .section-list-img {
    display: flex;
    justify-content: center;
    
  }
  .desktop-tablet-title {
    width: 417px;
    margin-right: 465px;
  }
  .order-block {
    display: flex;
    justify-content: space-between;
  }
  .photo-img1,
  .photo-img2,
  .photo-img3 {
    width: 368px;
   
    margin-bottom: 32px;
  }
  .section-list-img {
    justify-content: center;
    align-content: center;
  }
  .mobile-title {
    display: none;
  }
    .photo-img2,
    .photo-img3 {
      margin-left: 16px;
    }
}
